#header{
	color:white;
	text-decoration: none;
	font-family: Tahoma, Verdana, sans-serif;
}

body{
	color: black;
	background: linear-gradient(to bottom, black 4%, #cc0000 68%);
}
table {
 	 	font-family: arial, sans-serif;
  		width: 50%;
  		border-radius: 10px;
	}

	td, th {
 		 text-align: left;
 		 padding: 8px;
 		 border: 3px solid black;
  		border-radius: 10px;
	}

	td{
		 font-family: Georgia, Verdana, sans-serif;
		
	}

	tr:nth-child(even) {
 		 background-color: #dddddd;
	}
	footer{
		list-style-type: none;
  		margin: 10px;
  		padding: 0;
  		overflow: hidden;
 		 background-color: #333;
 		 bottom: 0;
 		 width: 100%;
  		color: white;
  	}

  	p{
  		color:white;
		text-decoration: underline;
		font-family: Tahoma, Verdana, sans-serif;
	
  	}


	ul.nav {
  		 list-style-type: none;
 		 margin: 10px;
  		padding: 10px;
  		width: 100%;
  		overflow: hidden;
  		background-color: #333;
	}

	ul.nav li {
  		float: left;
	}

	ul.nav li a {
  		display: block;
  		color: white;
  		text-align: center;
 		 padding:  14px 16px;
  		text-decoration: none;
	}

	ul.nav li a:hover:not(.active) {
  		background-color: #111;
	}

	.active {
  		background-color: #04AA6D;
	}

	a.UiTM:link {color:#ff0000;}
	a.UiTM:visited {color:#0000ff;}
	a.UiTM:hover {font-size:150%;}
